.titulo{
    text-align: center;
    border-bottom: 2px solid #041A25;
    border-width: 3px;        
    color: #041A25;
    font-size:1.2rem;    
    font-weight: bold;
    margin: 0 2rem;
}

h2 {
    font-size: 1.2rem;
    margin-top: 2.5rem;
    color: #041A25;
}

.conteudo {
    margin: 0 2rem;
    font-size: 1rem; 
    color: #041A25;   
}

.texto {
    border-left: 3px solid #041A25;
    border-width: 5px;
    padding-left: 20px;
    text-align: justify;    
}

.conteudo__text{
    margin-top: 5rem;
}

.conteudo__text h2{
    margin-top:0;
}

.conteudo__buttons{
    display:flex;
    margin-top:5rem;
    justify-content: center;
    gap:2rem;
}

.conteudo__grafico {
    text-align: center;    
}

svg {
    width: 15px;
    margin-right: 10px;    
}

.seletor {
    width: 100%;
    height: 2.5rem;
    border-radius: 8px;    
    padding: 0 0.8rem;
    font-size: 10pt;
}

.opcao {
    color: #041A25;
    background: #fff;
    height: 50px;
    margin: 5px;
    padding: 2rem 5px 2rem;
}

.btnBranco {
    color: #041A25;
    background: #fff;
    border: 1px solid #041A25;
    border-radius: 5px;
    font-size: 10pt;
    font-weight: bold;
    padding: 0.5rem 2rem; 
    margin: 1.2rem 2rem; 
    position: fixed;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.voltar {
    right: 8rem;
}

.btnEscuro {
    color: #fff;
    background: #041A25;
    border: 1px solid #041A25;
    border-radius: 5px;
    font-size: 10pt;
    font-weight: bold;
    padding: 0.5rem 2rem; 
    margin: 1.2rem 2rem; 
    position: fixed;
    right: 0;
    bottom: 0;
    cursor: pointer;    
}

.btnConsulta {
    color: #fff;
    background: #041A25;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    width: 18.8rem;
    font-size: 0.8rem;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
}